

h1 {
  text-align: center;
}

.header a { 
    width: 150px;
    background-color: #88B6A6;
    float: left;
}

.header {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: #667B73;
    font-size: 25px;
}

.header a:hover {
  background-color: #95CEB9;
}

.active {
  background-color: #739B8D;
}

 .header {
    padding: 100px;
  text-align: center;
  background: #88B6A6;
  color: white;
  font-size: 30px;
 }
 .header h2 { 
     color: #D1DCD8
 }
 .homepageparagraph {
  text-align: center;
  font-size: 35px;
 }
 a {
   text-decoration: none;
}
.homepageparagraph img { 
   width: 474px;
   border-radius: 8px;
   height: 712px;
   float: left;
}
.testomonials h3 {
    padding-top: 50px;
    font-size: 30px;
    text-align: center
}
.testomonials h4 {
    padding-top: 50px;
    text-align: center;
    color: #414745;
    font-size: 25px;
}